.images-cont{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;    
    gap: 5%;
    margin-top:10px;
    .captured-image-cont{
        // aspect-ratio: 1;
        width: 80%;
        border-radius: 8px;
        margin-top: calc(5% - 4px);
        position: relative;
        margin: auto;
        img{
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            width: 100%;
        }
    }
    .image-delete-button{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16px;
        width: 16px;
        color: blue;
        position: absolute;
        left: calc(100% - 8px);
        top: -8px;
        mat-icon{
            transform: scale(.5);
        }
    }
}

ion-button{
    width: 100%; 
    margin: auto; 
    margin-bottom: 10px;
  }