<div id="container">
  <div style="display: flex; justify-content: space-between">
    <div>
      <ion-icon style="cursor: pointer; margin-left:10px" name="arrow-back-outline" (click)="goBack()"></ion-icon>
    </div>
    <div>
      <ion-title style="font-size: 18px;">Reset Password</ion-title>
    </div>
  </div>

  <ion-content>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      <ion-list>

        <ion-item>
          <ion-input formControlName="email" [(ngModel)]="email" type="text" fill="solid"  labelPlacement="floating" style="margin-bottom: 10px;">
            <div slot="label">Email
              <ion-text color="primary">
              </ion-text>
            </div>
          </ion-input>
        </ion-item>
        <div *ngIf="forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched">
          <ion-text color="danger">Email is required.</ion-text>
        </div>
        <div *ngIf="forgotPasswordForm.get('email').hasError('email') && forgotPasswordForm.get('email').touched">
          <ion-text color="danger">Invalid email format.</ion-text>
        </div>
    
        <ion-item>
          <ion-button color="primary" style="margin-bottom: 20px;" expand="block" type="submit" [disabled]="forgotPasswordForm.invalid">Send reset password link</ion-button>
        </ion-item>

        </ion-list>
      </form>
    </ion-content>
</div>