 
#container {
text-align: center;
position: absolute;
left: 0;
right: 0;
top: 55%;
transform: translateY(-50%);
height:calc(100vh - 150px);
max-width: 1100px;
}

#container strong {
font-size: 20px;
line-height: 26px;
}

#container p {
font-size: 16px;
line-height: 22px;
color: #8c8c8c;
margin: 0;
}

#container a {
text-decoration: none;
}

#card-container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height:calc(99vh - 250px);
  overflow: auto;
  top:45%
}

ion-card{
    width:80%; 
    margin: auto; 
    margin-bottom: 20px;
}

ion-card:last-child {
    margin-bottom: 5px;
}

ion-button{
  margin: auto; 
//   margin-bottom: 20px;
}

.img-event:hover{
    transform: scale(1.02);
    opacity: 0.3;
  }
  
.img-event{
    border-radius: 0.2em;
    object-fit: cover;
    width:200px;
    // margin:10px;
    margin-left:0px
}

@media print {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Ensure no arrows or bullets appear */
  ul, ol {
    list-style: none;
    padding-left: 0;
  }

  /* Table styling for print */
  #table-container {
    width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    page-break-before: auto;
  }

  table, th, td {
    border: 1px solid #ddd;
  }

  th, td {
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
  }

  /* Resize images to fit in the printed document */
  img {
    max-width: 100px; /* Resize to fit properly */
    max-height: 100px;
    object-fit: contain;
  }

  /* Optional: Add extra space between rows */
  tr {
    margin-bottom: 10px;
  }

  h1 {
    text-align: center;
  }
}

::ng-deep .mat-paginator {
    position: relative;  /* Ensure the z-index works */
    z-index: 1000;       /* Adjust this value to control the stacking order */
}

// tr:nth-child(even) {
//   background-color: #f2f2f2; /* Light gray */
// }

// tr:nth-child(odd) {
//   background-color: #ffffff; /* White */
// }

th {
  font-weight: 600;
}

tr:hover {
  background-color: #e0e0e0; /* Slightly darker gray */
}

table {
  table-layout: auto; /* Allows dynamic width based on content */
  width: 90%; /* Ensures the table takes full width if necessary */
  border-collapse: collapse; 
  margin: auto;/* Prevents spacing issues */
}

td, th {
  white-space: nowrap; /* Prevents text from wrapping */
  padding: 8px; /* Ensures proper spacing */
}

.input-color{
  background-color: white;
  color: black
}
@keyframes blink-1 {
  0%   { background-color: #ffdc73; }
  50%  { background-color: white; }
  100% { background-color: #ffdc73; }
}
@keyframes blink-2 {
  0%   { background-color: #ffdc73; }
  50%  { background-color: white; }
  100% { background-color: #ffdc73; }
}
@keyframes runnerup {
  0%   { background-color: #b5e2ff; }
  50%  { background-color: white; }
  100% { background-color: #b5e2ff; }
}

.blinking-ageGroup-1 {
  animation: blink-1 2s infinite;
}

.blinking-ageGroup-2 {
  animation: blink-2 2s infinite;
}

.blinking-runnerup {
  animation: runnerup 2s infinite;
}

::ng-deep  .cdk-overlay-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}