 
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height:80%;
    overflow: auto;
    }
    
    #container strong {
    font-size: 20px;
    line-height: 26px;
    }
    
    #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
    }
    
    #container a {
    text-decoration: none;
    }
    
    #card-container {
      position: relative;
    }
    
    ion-card{
        width:80%; 
        margin: auto; 
        margin-bottom: 20px;
    }
    
    ion-card:last-child {
        margin-bottom: 5px;
    }
    
    ion-button{
      margin: auto; 
    //   margin-bottom: 20px;
    }

    .img-event:hover{
        transform: scale(1.02);
        opacity: 0.3;
      }
     
    .img-event{
        transition: all 0.2s ease-in-out;
        border-radius: 0.2em;
        object-fit: cover;
        width:100px;
        // margin:10px;
        margin-left:0px
    }

    @media print {
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
  
      /* Ensure no arrows or bullets appear */
      ul, ol {
        list-style: none;
        padding-left: 0;
      }
  
      /* Table styling for print */
      #table-container {
        width: 100%;
        overflow: hidden;
      }
  
      table {
        width: 100%;
        border-collapse: collapse;
        page-break-before: auto;
      }
  
      table, th, td {
        border: 1px solid #ddd;
      }
  
      th, td {
        padding: 8px;
        text-align: left;
        word-wrap: break-word;
      }
  
      /* Resize images to fit in the printed document */
      img {
        max-width: 100px; /* Resize to fit properly */
        max-height: 100px;
        object-fit: contain;
      }
  
      /* Optional: Add extra space between rows */
      tr {
        margin-bottom: 10px;
      }
  
      h1 {
        text-align: center;
      }
    }

    ::ng-deep .mat-paginator {
        position: relative;  /* Ensure the z-index works */
        z-index: 1000;       /* Adjust this value to control the stacking order */
    }

    tr:nth-child(even) {
      background-color: #f2f2f2; /* Light gray */
    }

    tr:nth-child(odd) {
      background-color: #ffffff; /* White */
    }

    th {
      font-weight: 600;
    }

    tr:hover {
      background-color: #e0e0e0; /* Slightly darker gray */
    }

