<div id="container" *ngIf="!loading">
  
  <div *ngIf="dataSource.data.length > 0">
    <div style="text-align:center; margin-bottom:30px">
      <ion-header style="box-shadow: none; top:-10px">
        <ion-title style="font-size: 18px;">Event : {{ title }}</ion-title>
      </ion-header>
    </div>
    <div style="display: flex; justify-content: space-between; margin: 10px">
      <div>
        <ion-icon style="cursor: pointer;" name="arrow-back-outline" (click)="goBack()"></ion-icon>
      </div>
      <div>
        <ion-icon style="cursor: pointer; margin-right:10px" name="download-outline" (click)="exportToExcel()"></ion-icon>
        <ion-icon style="cursor: pointer;" name="print-outline" (click)="printTable()"></ion-icon>
      </div>
    </div>
    <div>
      <div style="margin-bottom: 10px;">
        <input class="input-color"  matInput (keyup)="applyFilter($event)" placeholder="Search..." style="border-radius: 2px; height: 35px; border-color: lightgray;">
      </div>
    </div>
  </div>

  <div id="card-container">
    <div *ngIf="dataSource.data.length > 0">
    
      <div id="table-container" style="max-width:99vw; margin-bottom:100px">
            <!-- Data Table -->
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
              <ng-container matColumnDef="roll_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Roll Number</th>
                <td mat-cell *matCellDef="let element">
                  <!-- <input matInput *ngIf="element.isEdit" [(ngModel)]="element.rollNumber">
                  <span *ngIf="!element.isEdit">{{ element.rollNumber }}</span> -->
                  <span>{{ element.rollNumber }}</span>
                </td>
              </ng-container>
        
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">
                  <input class="input-color" matInput *ngIf="element.isEdit" [(ngModel)]="element.name">
                  <span *ngIf="!element.isEdit">{{ element.name }}</span>
                </td>
              </ng-container>
        
              <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DOB</th>
                <td mat-cell *matCellDef="let element">
                  <input 
                  class="input-color" 
                    matInput 
                    type="date" 
                    *ngIf="element.isEdit" 
                    [(ngModel)]="element.dateOfBirth">
                    
                  <span *ngIf="!element.isEdit">{{ formatDateForDatePicker(element.dateOfBirth) }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
                <td mat-cell *matCellDef="let element"> 
                  <span>{{ element.age }}</span>
                </td>
              </ng-container>
              
              <ng-container matColumnDef="fname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Father Name</th>
                <td mat-cell *matCellDef="let element">
                  <input class="input-color" matInput *ngIf="element.isEdit" [(ngModel)]="element.fatherName">
                  <span *ngIf="!element.isEdit">{{ element.fatherName }}</span>
                </td>
              </ng-container>
        
              <ng-container matColumnDef="mname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mother Name</th>
                <td mat-cell *matCellDef="let element">
                  <input class="input-color"  matInput *ngIf="element.isEdit" [(ngModel)]="element.motherName">
                  <span *ngIf="!element.isEdit">{{ element.motherName }}</span>
                </td>
              </ng-container>
        
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let element">
                  <input class="input-color"  matInput *ngIf="element.isEdit" [(ngModel)]="element.email">
                  <span *ngIf="!element.isEdit">{{ element.email }}</span>
                </td>
              </ng-container>
        
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Number</th>
                <td mat-cell *matCellDef="let element">
                  <input class="input-color"  matInput *ngIf="element.isEdit" [(ngModel)]="element.phoneNumber">
                  <span *ngIf="!element.isEdit">{{ element.phoneNumber }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="Category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td [class.winner-cell]="element.category === 'Winner Age Group 1'" mat-cell *matCellDef="let element">
                    <select [(value)]="element.category" [(ngModel)]="element.category" *ngIf="element.isEdit">
                      <option [value]="'Winner Age Group 1'">Winner Age Group 1</option>
                      <option [value]="'Winner Age Group 2'">Winner Age Group 2</option>
                      <option [value]="'Runner up'">Runner up</option>
                      <option [value]="'Participant'">Participant</option>
                    </select>
                    <span *ngIf="!element.isEdit">{{ element.category }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="Comments">
                <th mat-header-cell *matHeaderCellDef>Comments</th>
                <td mat-cell *matCellDef="let element">
                  <ion-textarea *ngIf="element.isEdit"
                    class="text-area" 
                    fill="solid" 
                    labelPlacement="floating" 
                    [(ngModel)]="element.comments" 
                    spellcheck="true"
                    rows="5"
                    style="margin-bottom: 10px;">
                      <div slot="label">Winner Details
                        <ion-text color="primary">
                        </ion-text>
                      </div>
                  </ion-textarea >
                  <pre *ngIf="!element.isEdit">{{ element.comments }}</pre>
                </td>
              </ng-container>
        
              <ng-container matColumnDef="File">
                <th mat-header-cell *matHeaderCellDef>Image</th>
                <td mat-cell *matCellDef="let element">
                  <a [href]="element.images.profilePhoto[0].imageFile.img" download="event.jpg">
                    <img class="img-event" alt="Image" [src]="element.images.profilePhoto[0].imageFile.img"/>
                  </a>
                </td>
              </ng-container>
        
              <ng-container matColumnDef="Action" >
                <th class="action-column" mat-header-cell *matHeaderCellDef>Action</th>
                <td class="action-column" mat-cell *matCellDef="let element; let j = index">
                  <a style="cursor: pointer; margin-right: 5px;" (click)="toggleEdit(element)">
                    {{ element.isEdit ? 'Save' : 'Edit' }}
                  </a>
                  <a style="cursor: pointer; margin-left: 5px;" (click)="deleteCandidate(element)">
                    Delete
                  </a>
                </td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                [ngClass]="{ 'blinking-ageGroup-1': row.category === 'Winner Age Group 1', 
                'blinking-ageGroup-2': row.category === 'Winner Age Group 2',
                'blinking-runnerup': row.category === 'Runner up'
                }">
              </tr>
            </table>
        
            <!-- Pagination -->
            <div class="pagination" style="margin-top: 10px;">
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
      </div>
      </div>
    <div *ngIf="dataSource.data.length <= 0">
      <div style="float: left; margin-left: 10px;">
        <ion-icon style="cursor: pointer;" name="arrow-back-outline" (click)="goBack()"></ion-icon>
      </div>
      <img alt="Event Image" src="../../../assets/icon/noData.jpg"/>
    </div>
  </div>
</div>
