 
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    height:calc(100vh - 150px);
    }
    
    #container strong {
    font-size: 20px;
    line-height: 26px;
    }
    
    #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
    }
    
    #container a {
    text-decoration: none;
    }
    
    #card-container {
      text-align: center;
      position: relative;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      height:calc(99vh - 250px);
      overflow: auto;
      top:45%;
      padding-bottom: 100px;
    }
    
    ion-card{
        width:80%; 
        margin: auto; 
        margin-bottom: 20px;
    }
    
    ion-card:last-child {
        margin-bottom: 5px;
    }
    
    ion-button{
      margin: auto; 
    //   margin-bottom: 20px;
    }

    .img-event:hover{
        transform: scale(1.02);
        opacity: 0.3;
      }
     
    .img-event{
        transition: all 0.2s ease-in-out;
        border-radius: 0.2em;
        object-fit: cover;
        width:100px;
        // margin:10px;
        margin-left:0px
    }