<div id="container" *ngIf="!loading">
  <div id="card-container">
    
    <div *ngIf="events.length > 0">
      <ion-card *ngFor="let event of events; let i = index">
        <a [href]="event.images" download="event.jpg">
          <img class="img-event" alt="Event Image" [src]="event.images"/>
        </a>
        <ion-card-header>
          <ion-card-title>{{event.eventName}}</ion-card-title>
        </ion-card-header>
        <!-- <ion-card-content>
          {{event.subtitle}}
        </ion-card-content> -->
        <ion-button fill="clear">Register</ion-button>
        <ion-button fill="clear">Already registered ?</ion-button>
      </ion-card>
    </div>

    <div *ngIf="events.length <= 0">
      <span>
        No event to display !!!
      </span>
    </div>

  </div>
</div>