
<div id="container" *ngIf="!loading">

  <div style="text-align: right;">
    <a style="margin: 10px; cursor:pointer;" color="primary" expand="block" (click)="eventsList()">Events List</a>
  </div>
  <div>
      <ion-title>{{title}}</ion-title>
  </div>

  <ion-list>

    <ion-item>
      <ion-input 
      (ngModelChange)="detectChanges($event)"
      fill="solid" 
      labelPlacement="floating" 
      [(ngModel)]="eventName" 
      style="margin-bottom: 10px;">
        <div slot="label">Event Name 
          <ion-text color="primary">
          </ion-text>
        </div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea 
      class="text-area" 
      fill="solid" 
      labelPlacement="floating" 
      [(ngModel)]="eventDescription" 
      spellcheck="true"
      rows="10">
        <div slot="label">Event Description 
          <ion-text color="primary">
          </ion-text>
        </div>
      </ion-textarea >
    </ion-item>
    
    <ion-item style="margin-top:10px">
      <!-- <ion-input 
      fill="solid" 
      labelPlacement="floating" 
      [(ngModel)]="fileName" 
      style="margin-bottom: 10px;"
      disabled="true">
      <div slot="label">Cover photo
        <ion-text color="primary">
        </ion-text>
      </div>
      </ion-input> -->
      <div class="image-content" style="display: flex; justify-content: center;">
        <app-image-upload [imageGuidelines]=imageGuidelines (imageChanged)="handleImageChange($event)"></app-image-upload>
      </div>
    </ion-item>

    <ion-item>
      <ion-button *ngIf="createForm" color="success" expand="block" [disabled]="createButtonDisabled" (click)="submit()">Create event</ion-button>
      <ion-button *ngIf="!createForm" color="success" expand="block" [disabled]="saveButtonDisabled" (click)="save()">Save event</ion-button>
    </ion-item>

  </ion-list>
</div>
