
<div id="container">

  <!-- <div class="text-center">
    <img class="img-fluid" src="/assets/icon/login.png" style="width:100px;"/>
  </div><h5 class="text-center">Admin Login</h5> -->

  <ion-list>
    <ion-item>
      <ion-input 
      (ngModelChange)="detectChanges($event)"
      fill="solid" 
      labelPlacement="floating" 
      [(ngModel)]="eventName" 
      style="margin-bottom: 10px;">
        <div slot="label">Event Name 
          <ion-text color="primary">
          </ion-text>
        </div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea 
      class="text-area" 
      fill="solid" 
      labelPlacement="floating" 
      [(ngModel)]="eventDescription" 
      spellcheck="true"
      rows="10">
        <div slot="label">Event Description 
          <ion-text color="primary">
          </ion-text>
        </div>
      </ion-textarea >
    </ion-item>
    
    <ion-item>
      <!-- <ion-input 
      fill="solid" 
      labelPlacement="floating" 
      [(ngModel)]="fileName" 
      style="margin-bottom: 10px;"
      disabled="true">
      <div slot="label">Cover photo
        <ion-text color="primary">
        </ion-text>
      </div>
      </ion-input> -->
      
      <div class="image-content" style="display: flex; justify-content: center;">
        <app-image-upload [imageGuidelines]=imageGuidelines></app-image-upload>
      </div>

    </ion-item>

    <ion-button color="success" expand="block" [disabled]="buttonDisabled" (click)="submit()">Create event</ion-button>

  </ion-list>
</div>
